body{
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    margin: 0;
    font-size: large;
}
h1{
    font-family: 'Grand Hotel', cursive;
    /* font-family: 'Caudex', serif; */
    font-weight: bold;
    color: #FF6E58;
    font-size: 3rem;

}
h2{
    font-family: 'Didact Gothic', sans-serif;
    font-style: italic;
    color: #14BEB4;
    margin-bottom: 0px;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }
.navbar-nav {
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link{
    color: #14BEB4;
    padding-left: 2rem;
    padding-right: 2rem;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #FF6E58;
    
}
.container-fluid{
    
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    background-color: #D2DCDC;
    position: relative;
}
.container-footer{

    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15%;
    padding-left: 15%;
}

.container-footer0{

    background-color: #D2DCDC;
    padding-top: 0;
    padding-bottom: 0px;
    padding-right: 15%;
    padding-left: 15%;
}

#titleIco{
    font-family: 'Grand Hotel', cursive;
    color: #FF6E58;
    font-weight: bold;
    font-size: 2.5rem;
}
.christosImg{
    border-radius: 50%;
    position: relative;
}
.pcImg{
    position: relative;
    left: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hotelImg{
    position: relative;
    right: 40%;
    padding-top: 30px;
    padding-bottom: 20px;
}
.social{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out; 
    transition: .3s ease-in-out; 

}

.social:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.youtube{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0;
    padding-bottom: 0;
    width: 54px;
    height: 54px;
}

.youtube:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.FText{
    padding-top: 20px;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

.copyright{
    font-size: small;
    padding-top: 0;
    padding-bottom: 10px;
    color: #14BEB4;
    display: block;
}
.footerCopy{
    padding: 0;
}

a:hover {
    text-decoration: none;
}


@media only screen and (max-width: 991px) {
    .container-footer{
        padding-right: 0;
        padding-left: 0;
    }
}